
.Estilo1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:200%;
	font-weight: bold;
	color: white;
}


.Estilo2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:200%;
	font-weight: bold;
	color: black;
}

.Estilo3 {
	font-family: Arial;
	font-size:100%;
	font-weight: bold;
	color: black;
}

